<div class="container my-5">
    <h3>Add New Contact</h3>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addContact()">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName"
                   name="firstName"[(ngModel)]="addContactRequest.firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" 
                    name="lastName"[(ngModel)]="addContactRequest.lastName">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="address" class="form-control" id="address" 
                    name="address"[(ngModel)]="addContactRequest.address">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number</label>
                    <input type="text" class="form-control" id="number"
                    name="number"[(ngModel)]="addContactRequest.number" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>